@model BETECommerceClient.Models.OnlineStore.ItemImageModel

<div class="popup-form-image">
    <form id="itemImageForm">
        <img alt="item image" src="@Model.ImagePath" onclick="hidePopupForm()" />
    </form>
</div>